/*------General Stylings------*/

section {
    padding-top: 3em;
}

.no-margin {
    margin: 0;
}

.margin-t {
    margin-top: 1em;
}

.margin-b {
    margin-bottom: 1em;
}

.margin-r {
    margin-right: 1em;
}

.margin-l {
    margin-left: 1em;
}

.padding-t {
    padding-top: 1em;
}

.padding-b {
    padding-bottom: 1em;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btc-value {
    font-family: 'Arvo', sans;
}

.success {
    color: #389839;
}

.error {
    color: #DD5454;
}

.centered {
    margin: 0 auto;
    left: 0;
    right: 0;
}


/*---pagination---*/

ul.pagination {
    list-style: none;
}

ul.pagination li {
    display: inline;
    line-height: 6.5rem;
    padding: 0 0.6em;
}


/*----fixed header scroll window---*/


/* element containing the table */

.scroll-window {
    max-height: 40rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 3.5rem;
}


/*the actual fixed header*/

table.fixed-header th div {
    position: absolute;
    margin-top: -3.5rem;
    z-index: 11;
}


/*collapse the previous header elements*/

table.fixed-header thead th {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
}


/*the footer ensures the columns are the right min width for the header elements*/

table.fixed-header tfoot td {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    visibility: hidden;
}


/*-----experimental scrollbar styles-----*/

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-button {}

::-webkit-scrollbar-track {
    background-color: #CDCDCD;
    border-left: 1px solid #BBB;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    -webkit-transition: all 1s;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #EEEEEE;
    -webkit-transition: all 1s;
    transition: all 1s;
}


/*------General Page Layout------*/


/*---Header and Navbar---*/

nav.navbar {
    padding-top: 1.5rem;
}

nav ul {
    list-style: none;
    border-bottom: #E1E1E1 solid 1px;
    border-top: #E1E1E1 solid 1px;
}

.navbar-item {
    display: inline;
    line-height: 6.5rem;
}

.navbar-item.active a {
    padding-bottom: 6px;
    border-bottom: 2px solid #A0E8A5;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 2rem;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}


/*---Wallet Styles---*/

code.backup-mnemonic {
    white-space: normal;
}


/*---Explorer Styles---*/

.transactions .output {
    color: #0BBE17;
}

.transactions .input {
    color: #FF9B9B;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.div-table {
    display: table;
    width: 100%;
    background-color: white;
    border: 1px solid #666666;
    border-spacing: 5px;
    /* cellspacing:poor IE support for  this */
}

.div-table-row {
    display: table-row;
    width: 100%;
    clear: both;
}

.div-table-col {
    float: left;
    /* fix for  buggy browsers */
    display: table-column;
    width: 100px;
    background-color: white;
    text-align: center;
}

.div-table-col.heading {
    background-color: #ccc;
}

.div-table-col:last-child {
    width: 365px;
    word-wrap: break-word;
}

.div-table-col:nth-child(4) {
    width: 275px;
    word-wrap: break-word;
    padding-right: 10px;
}